body{
    font-family: 'Montserrat', sans-serif;
}
#header-container,
#info-container{
    background-color: #99c84a;
    color: white;
}
#header-container .loggin,
#header-container .navbar-toggler{
    color: white;
}
#menu-container{
    background-color: #f7f7f9;
}
.btn.btn-shop{
    background-color: #99c84a;
    color: white;
}
.btn.btn-shop:hover{
    background-color: #8ab542;
    color: white;
}
input.form-control:focus{
    border-color: #99c84a;
}
#search-bar{
    padding: 1em;
}
#productsCarousel img {
    display: block;
    margin: 0 auto;
}
#info-container h4 {
    margin: 1em 0;
}
#info-container img{
    margin: 0 auto;
}
#footer-container{
    background-color: #1c3643;
    color: white;
    padding: 3em 0;
}
#footer-container h4{
    font-size: 16px;
}
#footer-container .nav-link {
    color: white;
}
@media (max-width: 768px) {
    #footer-container [class*="col-"]{
        margin-bottom: 2em;
    }
}
#breadcrumbs-container .breadcrumb{
    background-color: white;
    padding-left: 0 ;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item{
    color: #1c3643;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item.active{
    color: #95a5a6;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    content: ">";
}
#filtros-container .list-group-item-action.active{
    background-color: #99c84a;
    border-color: #99c84a;
}
#filtros-container .list-group{
    margin-bottom: 1em;
}











